In [15]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim, GoogleV3
from geopy.point import Point

In [3]:
df=pd.read_csv("../1_data/private/Site_Geo_location.csv")
df.head()

,MobileID,branch_name,branch_zone,branch_province,site_bk,ea_code,lat,long,ea_mid_long,ea_mid_lat
0,****,Unallocated,Unallocated,Unallocated,NaN,NaN,NaN,NaN,NaN,NaN
1,ECA008,EP - Port Elizabeth,Eastern Cape,Eastern Cape,NaN,NaN,NaN,NaN,NaN,NaN
2,EED001,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EED001,28110358.0,-31.894625,26.871990,26.868513,-31.893749
3,EED003,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EED003,29910196.0,-33.959109,25.599555,25.599820,-33.957849
4,EEE001,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EEE001,28110372.0,-31.887923,26.879559,26.881003,-31.887284

In [4]:
percent_missing = df.isna().sum() * 100 / len(df)
percent_missing

MobileID            0.000000
branch_name         0.022805
branch_zone         0.022805
branch_province     0.022805
site_bk            41.687571
ea_code            42.964652
lat                41.687571
long               41.687571
ea_mid_long        42.964652
ea_mid_lat         42.964652
dtype: float64

In [21]:
#find address using longitutde and latitude

# Initialize Nominatim API
geolocator=Nominatim(user_agent='geoapiExercises')

#get location using function geocode
df['address']= np.where((df['lat'].notna() & df['long'].notna()), 
                        geolocator.reverse(Point(df['lat'].all(), df['long'].all())), '')

df.head()

,MobileID,branch_name,branch_zone,branch_province,site_bk,ea_code,lat,long,ea_mid_long,ea_mid_lat,d,address
0,****,Unallocated,Unallocated,Unallocated,NaN,NaN,NaN,NaN,NaN,NaN,"nan,nan",
1,ECA008,EP - Port Elizabeth,Eastern Cape,Eastern Cape,NaN,NaN,NaN,NaN,NaN,NaN,"nan,nan",
2,EED001,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EED001,28110358.0,-31.894625,26.871990,26.868513,-31.893749,"-31.894625,26.87199",None
3,EED003,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EED003,29910196.0,-33.959109,25.599555,25.599820,-33.957849,"-33.959109,25.599555",None
4,EEE001,EE - Port Elizabeth East,Eastern Cape,Eastern Cape,EEE001,28110372.0,-31.887923,26.879559,26.881003,-31.887284,"-31.887923,26.879559",None